{% extends "template.html.twig" %}

{% trans_default_domain 'error_page' %}

{% block page_title "access denied title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">
        <div class="section center">
            <br/>
            <br/>
            <h1 class="teal-text text-lighten-2">{{ "access denied title" | trans }}</h1>
            <h4>{{ 'access denied message' | trans }}</h4>
            <a class="btn waves-effect waves-light btn-large orange darken-1" href="{{ url('index') }}">
                <i class="material-icons left">backspace</i>
                {{ 'back to index' | trans }}
            </a>

            <!--p>TODO ! + Function twig to log error</p-->

        </div>
    </main>
{%  endblock %}