{% extends "template.html.twig" %}

{% trans_default_domain 'security_form' %}

{% block page_title "changepassword title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">
        <div class="section">

            <h1 class="teal-text text-lighten-2">{{ "changepassword title" | trans }}</h1>

            {# Flash bags #}
            {% include 'components/flashbags.html.twig' %}

            <div class="row">

                {{ form_start(form) }}

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_open</i>
                        {{ form_widget(form.password) }}
                        <label for="user_password_password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 right-align">
                        <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Change password
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </main>
{%  endblock %}
