{% extends "template.html.twig" %}

{% trans_default_domain 'security_form' %}

{% block page_title "register title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">
        <div class="section">

            <h1 class="teal-text text-lighten-2">{{ "register title" | trans }}</h1>

            {# Flash bags #}
            {% include 'components/flashbags.html.twig' %}

            <div class="row">
                {{ form_start(form) }}
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_widget(form.firstname) }}
                        <label for="user_firstname">{{ "label firstname" | trans }}</label>
                    </div>

                    <div class="input-field col s6">
                        {{ form_widget(form.lastname) }}
                        <label for="user_lastname">{{ "label lastname" | trans }}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_widget(form.email) }}
                        <label for="user_email">{{ "label email" | trans }}</label>
                    </div>

                    <div class="securityerror red-text" style="margin-left: 3.5rem;">
                        {{ form_errors(form.email) }}
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        {{ form_widget(form.password) }}
                        <label for="user_password">{{ "label password" | trans }}</label>
                    </div>

                    <div class="securityerror red-text" style="margin-left: 3.5rem;">
                        {{ form_errors(form.password) }}
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12 right-align">
                        <button class="btn waves-effect waves-light btn-large" type="submit">
                            {{ "register button" | trans }}
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </main>

{%  endblock %}
