{% trans_default_domain 'base' %}
<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <title>
        {% block title %}
            {% block page_title '' %} | {% block site_title constant('App\\SiteConfig::SITENAME') %}
        {% endblock %}
    </title>
    <meta name="language" content="{{ app.request.locale }}">
    <!-- DESCRIPTION -->
    <meta name="description" content="{{ "site description" | trans }}"/>
    <meta name="keywords" content="{{ "site keywords" | trans }}"/>
    <meta name="subject" content="{{ "site subject" | trans }}">
    <meta name="url" content="{{ "site url" | trans }}">
    <!-- AUTHOR -->
    <meta name="copyright" content="{{ constant('App\\SiteConfig::SITECOPYRIGHT') }}">
    <meta name="author" content="{{ constant('App\\SiteConfig::SITEAUTHOR') }}">
    <!-- CONTENT -->
    <meta http-equiv="Content-Type" content="text/html; charset={{ constant('App\\SiteConfig::SITECHARSET') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block css %}
        <link rel="shortcut icon" type="image/ico" href="{{ asset('favicon.ico')}}"/>
        <link href="{{ asset('inc/css/main.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block html ''%}
{% block js  %}
<script src="{{ asset('inc/js/main.js') }}" ></script>
{% endblock %}
</body>
</html>