{% extends "stock.html.twig" %}

{% trans_default_domain 'stock_add' %}

{% block page_title "stock add stock title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">

        <div class="section">

            <h1 class="teal-text text-lighten-2">{{ "add a product" | trans }}</h1>

            <!-- Display result from bar code -->
            <div  id="result">
                <div class="card">
                    <div class="teal lighten-1">
                        <div class="list">
                            <div style="float:left;margin: 1.52rem 1rem 0 0;"><a href="{{ path('stock_product_card',{barcode : product.barcode}) }}"><img style="height:100px;border-radius:12px;border: 1px solid #fff;" src="{{ asset( getProductImage(product.barcode,product.picture) ) }}"/></a></div>
                            <div style="overflow: hidden;"><div><h4><b id="nbproduct">1</b> x {{ product.name }} {{ product.brands[0].name }} {{ product.quantity }}</h4></div>
                                <div>{{ product.commonname }}</div>
                                <div class="hide-on-small-only">{{ "barcode"  | trans}} : {{ product.barcode }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="scanBtn">
                        <a href="#" onclick="history.go(-1);" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons left">backspace</i></a>
                        <a href="{{ path('stock_list') }}" class="btn-floating btn-large waves-effect waves-light light-blue darken-1"><i class="material-icons left">assignment</i></a>
                        <a class="btn-floating btn-large green right" id="addproduct"><i class="material-icons">add</i></a>
                        <a class="btn-floating btn-large red right" id="removeproduct"><i class="material-icons">remove</i></a>
                        <span class="tag right spaced hide-on-small-only">{{ "quantity" | trans }} : </span>
                    </div>

                    <div class="card-content">
                        <form id="addProductForm" method="post">

                            <div>
                                <div class="input-field" style="display: inline-block;width: calc(97% - 100px);">
                                    <i class="material-icons prefix">today</i>
                                    <label for="expire" class="">{{ "expire date" | trans }}</label>
                                    <input type="text" class="datepicker" id="expire" name="expire">
                                </div>

                                <div class="right"><img src="{{ asset('img/nutriscore/a.svg') }}" style="width: 100px;"></div>
                            </div>

                            <input type="hidden" id="nbproductfield" name="nbproductfield" value="1">
                            <input type="hidden" id="barcode" name="barcode" value="{{ product.barcode }}">
                            <input type="hidden" id="idproduct" name="idproduct" value="{{ product.id }}">
                            <input type="hidden" id="name" name="name" value="{{ product.name }} {{ product.brands[0].name }} {{ product.quantity }}">
                        </form>
                    </div>
                </div>

                <div class="center mainBtn">
                    <a href="{{ path('stock_add') }}" class="waves-effect waves-light btn-large orange accent-2"><i class="material-icons left">crop_rotate</i>{{ "rescan" | trans }}</a>
                    <a onclick="document.app.Util.doAjax(document.app.url.addToStock,new FormData(document.querySelector('#addProductForm')),document.app.Product.addToStock,'POST')" class="waves-effect waves-light btn-large"><i class="material-icons left">library_add</i>{{ "add" | trans }}</a>
                </div>
            </div>

        </div>
    </main>

    {% include 'components/loader.html.twig' %}

{%  endblock %}

{% block js  %}
    {{ parent() }}
    {# javascripts #}
    <script src="{{ asset('inc/js/product.js') }}" ></script>

{%  endblock %}