{% extends "stock.html.twig" %}

{% trans_default_domain 'stock_home' %}

{% block page_title "stock home title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">

        <div class="row right">

        </div>

        <div class="section">

            <div class="right" style="width:100%;">
                <span class="hide-on-small-only">{% trans with {'%user%': ((app.user.lastname | capitalize)~" "~(app.user.firstname | upper))}%}welcome{% endtrans %}</span>
                {% if expired > 0 %}
                <a href="{{ path('stock_list',{ 'inDay' : 0 }) }}"><span style="margin-left:4px;" class="new badge red" data-badge-caption="{{ "expiré" | trans }}">({{ expired }})</span></a>
                {% endif %}
                {% if expire3 > 0 %}
                <a href="{{ path('stock_list',{ 'inDay' : 3 }) }}"><span style="margin-left:4px;" class="new badge orange darken-1" data-badge-caption="{{ "dans 3 jours" | trans }}">({{ expire3 }})</span></a>
                {% endif %}
                {% if expire7 > 0 %}
                <a href="{{ path('stock_list',{ 'inDay' : 7 }) }}"><span style="margin-left:4px;" class="new badge" data-badge-caption="{{ "dans 7 jours" | trans }}">({{ expire7 }})</span></a>
                {% endif %}
            </div>

            <h1 class="teal-text text-lighten-2">{{ "stock home title" | trans }}</h1>

            <div class="row homeIcon">
                <div class="col s6 l3">
                    <a href="{{ path("stock_add") }}"><img class="tooltipped" data-position="bottom" data-tooltip="{{ "add to stock" | trans }}" src="{{ asset('img/icons/product_add.png') }}" width="100%"/></a>
                </div>
                <div class="col s6 l3">
                    <a href="{{ path("stock_del") }}"><img class="tooltipped" data-position="bottom" data-tooltip="{{ "del from stock" | trans }}" src="{{ asset('img/icons/product_del.png') }}" width="100%"/></a>
                </div>
                <div class="col s6 l3">
                    <a href="{{ path("stock_list") }}"><img class="tooltipped" data-position="bottom" data-tooltip="{{ "stock list" | trans }}" src="{{ asset('img/icons/product_list.png') }}" width="100%"/></a>
                </div>
                <div class="col s6 l3">
                    {# TODO !!#}
                    <a href="#"><img class="tooltipped" data-position="bottom" data-tooltip="View stock stats" src="{{ asset('img/icons/product_stats.png') }}" width="100%"/></a>
                </div>
            </div>
        </div>
    </main>

{%  endblock %}