{% extends "stock.html.twig" %}

{% trans_default_domain 'stock_add' %}

{% block page_title "stock add title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">

        <div class="section">

            <h1 class="teal-text text-lighten-2">My Stock products</h1>

            <div class="productList">

                <ul class="collapsible bgItems">

                    <!-- si liste vient de addproduct short alors afficher data d ajout remove_red_eye-->

                    {% for productInfo in stockProducts %}

                        {% set product = productInfo[0].product %}
                        {% set nbProduct = productInfo[1] %}
                    <li>
                        <div class="collapsible-header">
                            <input type="hidden" value="{{ product.id }}" name="productId" class="productId">
                            <i class="material-icons left imgproduct"><img src="{{ asset( getProductImage(product.barcode,product.picture) ) }}"></i>
                            <h4><span class="nbProduct">{{ nbProduct }}</span> <span class="name">x {{ product.name }} {{ product.brands[0].name }} {{ product.quantity }}</span></h4>
                            <div>
                                 <select multiple>
                                    {{ getExpires( product.id , app.user.stock.id ) | raw  }}
                                    <option value="" disabled></option>
                                </select>
                                <label>Expire</label>
                            </div>
                            <div class="actionbtn">
                                <div class="left"><img class="nutriscore" src="{{ asset('img/nutriscore/a.svg') }}"></div>
                                <a class="btnRemove btn-floating waves-effect waves-light red"><i class="material-icons">remove</i></a>
                                <a class="btn-floating green waves-effect waves-light" href="{{ path('stock_product',{'from' : 'stock_list','barcode' : product.barcode})  }}"><i class="material-icons">add</i></a>
                                <a class="btn-floating light-blue darken-1 waves-effect waves-light" href="{{ path('stock_product_card') }}"><i class="material-icons">visibility</i></a>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            {# TODO #}
                            <h5>Repères nutritionnels pour 100 g ({{ product.energy }} {{ product.energyUnit }})</h5>
                            {{ getNutritionalInfo(product) | raw }}
                        </div>
                    </li>

                    {% endfor %}

                    {# TODO #}
                   <!--li class="expiresoon"-->
                    <!--li class="expirewarn"-->
                    <!--  class="expiresoon" -->

                </ul>

                {# PAGINATION, ONLY IF MORE THAN 1 PAGE #}

                {% if countPagination>1 %}

                <div style="clear: both;"></div>
                <div class="center">
                    <ul class="pagination">
                    {% if currentPage>1 %}<li class="waves-effect">{{ getLink('stock_list','<i class="material-icons">chevron_left</i>',{ currentPage : currentPage-1 , order : order}) | raw  }}</li>{% endif %}
                    {% for i in 1..countPagination %}
                        {% if currentPage==i %}
                            {% set paginationClass='active' %}
                        {% else %}
                            {% set paginationClass='' %}
                        {% endif %}
                        <li class="waves-effect {{ paginationClass }}">{{ getLink('stock_list',i,{ currentPage : i , order : order}) | raw  }}</li>
                    {% endfor %}
                    {% if currentPage<countPagination %}<li class="waves-effect">{{ getLink('stock_list','<i class="material-icons">chevron_right</i>',{ currentPage : currentPage+1 , order : order}) | raw  }}</li>{% endif %}
                    </ul>
                </div>

                {% endif %}

            </div>
        </div>
    </main>

    {% include 'components/loader.html.twig' %}

{%  endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('inc/css/scan.css') }}" rel="stylesheet">
{%  endblock %}

{% block js  %}
    {{ parent() }}
    <script src="{{ asset('inc/js/product.js') }}" ></script>
{%  endblock %}