{% extends "stock.html.twig" %}

{% trans_default_domain 'stock_product' %}

{% block page_title "stock product detail title" | trans %}

{# NO CONTENT SHOULD BE OUTSIDE BLOCK IN A EXTENDS TWIG !! #}

{% block main %}
    {{ parent() }}
    {# Content #}
    <main class="container main">
        <div class="section productdetail">

            <h1 class="teal-text text-lighten-2">{{ "product details" | trans }}</h1>

            <a class="waves-effect waves-light btn-large right red buttonBack" href="#" onclick="history.go(-1)"><i class="material-icons left">backspace</i>{{ "back" | trans }}</a>

            <h2>{{ "product features" | trans }}</h2>

            <i class="material-icons right"><img src="{{ asset( getProductImage(product.barcode,product.picture) ) }}" class="materialboxed"></i>

            <p><b>{{ "barcode" | trans}} :</b> {{ product.barcode }}</p>

            <p><b>{{ "product name" | trans }} :</b> {{ product.name }}</p>

            {% if product.commonName %}
            <p><b>{{ "generic name" | trans }} :</b> {{ product.commonName }}</p>
            {% endif %}

            {% if product.quantity %}
            <p><b>{{ "quantity" | trans }} :</b> {{ product.quantity }}</p>
            {% endif %}

            {% if product.packagings is not empty %}
            <p><b>{{ "packaging" | trans }} :</b> {{ getFormatedList( product.packagings ) }}</p>
            {% endif %}

            {% if product.brands is not empty %}
            <p><b>{{ "brands" | trans }} :</b> {{ getFormatedList( product.brands ) }}</p>
            {% endif %}

            {% if product.producerpage %}
            <p><b>{{ "producer page" | trans }} :</b> <a href="{{  product.producerpage  }}" target="_blank">{{  product.producerpage  }}</a></p>
            {% endif %}

            {% if product.categories is not empty %}
            <p><b>{{ "categories" | trans }} :</b> {{ getFormatedList( product.categories ) }}</p>
            {% endif %}

            {% if product.ingredients is not empty %}
            <p><b>{{ "ingredients" | trans }} :</b> {{ product.ingredients }}</p>
            {% endif %}

            {% if product.alergies is not empty %}
            <p><b> {{ "alergies" | trans }} :</b> {{ getFormatedList( product.alergies ) }}</p>
            {% endif %}

            <h2>{{ "nutritional informations" | trans }}</h2>

            <img src="{{ asset('img/nutriscore/a.svg') }}">

            <div>
                <h3>{{ "nutrient levels" | trans }} 100 g ({{ product.energy }} {{ product.energyUnit }})</h3>
                {{ getNutritionalInfo(product) | raw }}
            </div>

            <br><br>

            <table class="highlight">
                <thead>
                <tr>
                    <th>{{ "nutritional" | trans }}</th>
                    <th>{{ "for" | trans }} 100 g / 100 ml</th>
                </tr>
                </thead>

                <tbody>
                {% if product.energy %}
                <tr>
                    <td>{{ "energy" | trans }}</td>
                    <td>{{ product.energy }} {{ product.energyUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelFat %}
                <tr>
                    <td>{{ "fat" | trans }}</td>
                    <td>{{ product.levelFat|number_format(2, ',') }} {{ product.levelFatUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelSaturedFat %}
                <tr>
                    <td>{{ "satured fat" | trans }}</td>
                    <td>{{ product.levelSaturedFat|number_format(2, ',') }} {{ product.levelSaturedFatUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelCarbohydrate %}
                <tr>
                    <td>{{ "carbohydrate" | trans }}</td>
                    <td>{{ product.levelCarbohydrate|number_format(2, ',') }} {{ product.levelCarbohydrateUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelSugar %}
                <tr>
                    <td>{{ "sugar" | trans }}</td>
                    <td>{{ product.levelSugar|number_format(2, ',') }} {{ product.levelSugarUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelDietaryFiber %}
                <tr>
                    <td>{{ "dietary fiber" | trans }}</td>
                    <td>{{ product.levelDietaryFiber|number_format(2, ',') }} {{ product.levelDietaryFiberUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelProteins %}
                <tr>
                    <td>{{ "proteins" | trans }}</td>
                    <td>{{ product.levelProteins|number_format(2, ',') }} {{ product.levelProteinsUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelSalt %}
                <tr>
                    <td>{{ "salt" | trans }}</td>
                    <td>{{ product.levelSalt|number_format(2, ',') }} {{ product.levelSaltUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelSodium %}
                <tr>
                    <td>{{ "sodium" | trans }}</td>
                    <td>{{ product.levelSodium|number_format(2, ',') }} {{ product.levelSodiumUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelAlcohol %}
                <tr>
                    <td>{{ "alcohol" | trans }}</td>
                    <td>{{ product.levelAlcohol|number_format(2, ',') }} %</td>
                </tr>
                {% endif %}
                {% if product.levelSilica %}
                <tr>
                    <td>{{ "silica" | trans }}</td>
                    <td>{{ product.levelSilica|number_format(2, ',') }} {{ product.levelSilicaUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelBicarbonate %}
                <tr>
                    <td>{{ "bicarbonate" | trans }}</td>
                    <td>{{ product.levelBicarbonate|number_format(2, ',') }} {{ product.levelBicarbonateUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelPotassium %}
                <tr>
                    <td>{{ "potassium" | trans }}</td>
                    <td>{{ product.levelPotassium|number_format(2, ',') }} {{ product.levelPotassiumUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelChloride %}
                <tr>
                    <td>{{ "chloride" | trans }}</td>
                    <td>{{ product.levelChloride|number_format(2, ',') }} {{ product.levelChlorideUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelCalcium %}
                <tr>
                    <td>{{ "calcium" | trans }}</td>
                    <td>{{ product.levelCalcium|number_format(2, ',') }} {{ product.levelCalciumUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelMagnesium %}
                <tr>
                    <td>{{ "magnesium" | trans }}</td>
                    <td>{{ product.levelMagnesium|number_format(2,  ',') }} {{ product.levelMagnesiumUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelNitrates %}
                <tr>
                    <td>{{ "nitrates" | trans }}</td>
                    <td>{{ product.levelNitrates|number_format(2,  ',') }} {{ product.levelNitratesUnit }}</td>
                </tr>
                {% endif %}
                {% if product.levelSulfates %}
                <tr>
                    <td>{{ "sulfates" | trans }}</td>
                    <td>{{ product.levelSulfates|number_format(2, ',') }} {{ product.levelSulfatesUnit }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>

        </div>

    </main>

{%  endblock %}
